table  tr th{
    color: #010408!important;
    font-size: 20px;
}
table  tr td{
    color: #385438e1!important;
    font-size: 18px;
    font-weight: 400;
}
table{
    border: px solid black!important;
   
}
